@"
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=airinsight
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
GEMINI_KEY=
GROQ_API_KEY=
AVIATIONSTACK_API_KEY=
"@ | Out-File -FilePath backend/.env.example -Encoding utf8